
<div class="container">
    <div class="row" id='trailer'>

        <div class="col-sm-3" ngClick='masterMind()'>
            <a href="#" class='thumbnail'>
                <img class ='trailer' src="https://images-na.ssl-images-amazon.com/images/M/MV5BNTA5MjAyOTgzN15BMl5BanBnXkFtZTgwODc5OTg2OTE@._V1_SY1000_CR0,0,678,1000_AL_.jpg" alt="" />
                <i class="fa fa-play-circle-o" aria-hidden="true"></i>
            </a>
        </div>

        <div class="col-sm-3">
            <a href="#" class='thumbnail'>
                <img class ='trailer' src="https://images-na.ssl-images-amazon.com/images/M/MV5BOTEzNDU0OTgxM15BMl5BanBnXkFtZTgwNjA0ODM2OTE@._V1_SY1000_CR0,0,674,1000_AL_.jpg" alt="" />
                <i class="fa fa-play-circle-o" aria-hidden="true"></i>            </a>
        </div>

        <div class="col-sm-3">
            <a href="#" class='thumbnail'>
                <img class ='trailer' src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjM1OTMxNzUyM15BMl5BanBnXkFtZTgwNjYzMTIzOTE@._V1_SY1000_CR0,0,674,1000_AL_.jpg" alt="" />
                <i class="fa fa-play-circle-o" aria-hidden="true"></i>
            </a>
        </div>

        <div class="col-sm-3" id=features>
            <div>
                <h5>New on Tv Tonight</h5>
            </div>
        </div>

    </div>
</div>
