<div class="modal-body" style="background-color: black">
    <div class="row">
        <div class="col-md-9">
            <youtube-video video-id='vm.movie.trailer'></youtube-video>
        </div>
        <div class="col-md-3" style='color: white'>
            <h6>Official Trailer: {{vm.movie.length}}</h6>
            <h2>{{vm.movie.title}}</h2>
            <p>
                {{vm.movie.description}}
            </p>
            <p>
                <strong>Director:</strong> {{vm.movie.director}}
            </p>
        </div>
    </div>
</div>
